* {
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
}



.container {
    width: 200px;
    height: 200px;
    color: white;
    margin: 20px;
    border: 10px solid gray;
    padding: 20px;
    box-sizing: border-box;
}

.bg-green {
    background-color: greenyellow;
}
.bg-red {
    background-color: red;
}
.bg-blue {
    background-color: blueviolet;
}
